name: Build and Publish Binaries

on:
  release:
    types:
      - created

jobs:
  build-and-publish:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        target:
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - arm-unknown-linux-gnueabi
          - arm-unknown-linux-gnueabihf
          - arm-unknown-linux-musleabi
          - arm-unknown-linux-musleabihf
          - armv5te-unknown-linux-gnueabi
          - armv5te-unknown-linux-musleabi
          - armv7-unknown-linux-gnueabihf
          - armv7-unknown-linux-musleabihf
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
        include:
          - os: macOS-latest
            target: x86_64-apple-darwin
            upload_asset_name: exogress-macos-amd64
          - os: windows-latest
            target: i686-pc-windows-msvc
            upload_asset_name: exogress-win32.exe
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            upload_asset_name: exogress-win64.exe
          - target: aarch64-unknown-linux-gnu
            upload_asset_name: exogress-linux-aarch64-gnu
          - target: aarch64-unknown-linux-musl
            upload_asset_name: exogress-linux-aarch64-musl
          - target: arm-unknown-linux-gnueabi
            upload_asset_name: exogress-linux-arm-gnueabi
          - target: arm-unknown-linux-gnueabihf
            upload_asset_name: exogress-linux-arm-gnueabihf
          - target: arm-unknown-linux-musleabi
            upload_asset_name: exogress-linux-arm-musleabi
          - target: arm-unknown-linux-musleabihf
            upload_asset_name: exogress-linux-arm-musleabihf
          - target: armv5te-unknown-linux-gnueabi
            upload_asset_name: exogress-linux-armv5te-gnueabi
          - target: armv5te-unknown-linux-musleabi
            upload_asset_name: exogress-linux-armv5te-musleabi
          - target: armv7-unknown-linux-gnueabihf
            upload_asset_name: exogress-linux-armv7-gnueabihf
          - target: armv7-unknown-linux-musleabihf
            upload_asset_name: exogress-linux-armv7-musleabihf
          - target: x86_64-unknown-linux-gnu
            upload_asset_name: exogress-linux-x86_64-gnu
          - target: x86_64-unknown-linux-musl
            upload_asset_name: exogress-linux-x86_64-musl

    env:
      RUST_BACKTRACE: 1

    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-${{ matrix.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          override: true

      - name: Build release binary
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --target=${{ matrix.target }} -p exogress

      - name: Upload release binary (non-Windows)
        uses: actions/upload-release-asset@v1.0.2
        if: matrix.os != 'windows-latest'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./target/${{ matrix.target }}/release/exogress
          asset_name: ${{ matrix.upload_asset_name }}
          asset_content_type: application/octet-stream

      - name: Upload release binary (Windows)
        uses: actions/upload-release-asset@v1.0.2
        if: matrix.os == 'windows-latest'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./target/${{ matrix.target }}/release/exogress.exe
          asset_name: ${{ matrix.upload_asset_name }}.exe
          asset_content_type: application/octet-stream

      - name: Compress MacOS binary for homebrew
        uses: master-atul/tar-action@v1.0.2
        id: compress
        if: matrix.target == 'macOS-latest'
        with:
          command: c
          cwd: ./target/${{ matrix.target }}/release/
          files: |
            exogress
          outPath: ${{ matrix.upload_asset_name }}.tar.gz

      - name: Upload MacOS compressed releas for homebrew
        uses: actions/upload-release-asset@v1.0.2
        if: matrix.target == 'macOS-latest'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ matrix.upload_asset_name }}.tar.gz
          asset_name: ${{ matrix.upload_asset_name }}.tar.gz
          asset_content_type: application/gzip

  publish-homebrew:
    runs-on: ubuntu-latest
    needs: build-and-publish
    env:
      RUST_BACKTRACE: 1
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-pckage-publisher-cargo-${{ hashFiles('pckage-publisher/Cargo.lock') }}

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Publish packages
        uses: actions-rs/cargo@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        with:
          command: run
          args: -- --homebrew --version ${{ github.event.release.tag_name }} --message "Release new version"
