name: Publish Binaries

on:
  release:
    types:
      - created

jobs:
  publish:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        target:
          - aarch64-unknown-linux-gnu
          - aarch64-unknown-linux-musl
          - arm-unknown-linux-gnueabi
          - arm-unknown-linux-gnueabihf
          - arm-unknown-linux-musleabi
          - arm-unknown-linux-musleabihf
          - armv5te-unknown-linux-gnueabi
          - armv5te-unknown-linux-musleabi
          - armv7-unknown-linux-gnueabihf
          - armv7-unknown-linux-musleabihf
          - mips-unknown-linux-gnu
          - mips-unknown-linux-musl
          - mips64-unknown-linux-gnuabi64
          - mips64el-unknown-linux-gnuabi64
          - mipsel-unknown-linux-gnu
          - mipsel-unknown-linux-musl
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-gnu
        include:
          - os: macOS-latest
            target: x86_64-apple-darwin
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          override: true

      - name: Build release binary
        uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --target=${{ matrix.target }} -p exogress

      - name: Show file
        run: ls -la ./target/${{ matrix.target }}/release/

      - name: Show file
        run: pwd

      - name: Compress action step
        uses: master-atul/tar-action@v1.0.2
        id: compress
        with:
          command: c
          cwd: ./target/${{ matrix.target }}/release/
          files: |
            ./exogress
          outPath: exogress-${{ github.event.release.tag_name }}-${{ matrix.target }}.tar.gz

      - name: Show file
        run: ls -la exogress-${{ github.event.release.tag_name }}-${{ matrix.target }}.tar.gz

      - name: Upload release asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./exogress-${{ github.event.release.tag_name }}-${{ matrix.target }}.tar.gz
          asset_name: exogress-${{ github.event.release.tag_name }}-${{ matrix.target }}.tar.gz
          asset_content_type: application/gzip

      - name: Publish homebrew package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cargo run -- --homebrew --version ${{ github.event.release.tag_name }} --message "Release new version"
        working-directory: package-publisher

